PLANAPI_BASE_URL=https://planapi.in
PLANAPI_LOGIN_URL=https://planapi.in/Login.aspx
PLANAPI_OPERATOR_LOOK_URL=https://planapi.in/OperatorLook.aspx
PLANAPI_USERNAME=8840457632
PLANAPI_PASSWORD=123456
PLANAPI_MOBILE=9876543210
PLAYWRIGHT_HEADLESS=false
